# Database
psycopg2-binary

# LLM
google-generativeai
langchain

# PDF Processing
PyMuPDF
Pillow

# Utilities
python-dotenv
numpy

# Testing 
pytest

# Api
fastapi
uvicorn[standard]
python-multipart

# CORS support
fastapi-cors

# Additional utilities
pydantic

# Front-end
streamlit